.body{
    margin: 0;
    padding: 0;
}
.kısım2 td:last-child{
    border-right: none;
}
.kutu1{
    width: 400px;
    height: 120px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}
.kutu2{
    text-align: center;
    background-color:#EEEEEE;
    width: 90% ;
    margin: auto;
    
}

.kutu3{
    
    background-color: #62B3AA;
    margin: auto;
    width: 90%;
    margin-top: 2px;
    font-weight:lighter;
    font-size: 16px;
    text-align: center;
}

.kutu3 td{
    border-right:2px solid white;
}
.kutu3:link{
    color:blue;
}
.kutu4{
    text-align:center;
    margin:auto;
    display:block;
}


